.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    height: 80vh;

}




.flayer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;


}

.flayer img {
 width: 1000px;
 height: 500px;
}

.slick-dots {
    bottom: -27px;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {

    .flayer img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }

    .hero {
        height: 100%;
    }

    .flayer {
        height: 140px;
    }

    .frase {
        margin-top: 50px;
        font-size: 20px;
    }
}