.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    height: 85vh;
    white-space: nowrap; 

}

.flayer {
    position: relative;
    width: 100%;
    height: 100%;
    white-space: nowrap; 
    overflow: hidden;
}
.ver {
    visibility: hidden;
}
.todos{
width: 500px;
position: absolute;
right: 0px;
bottom: 50px;


}
.loop{
width: 270px;
position: absolute;
bottom: 250px;
left: 300px;

}
.fer{
width: 200px;
position: absolute;
left: 0px;
bottom: 220px;
z-index: -1;
}
.rodo{
width: 120px;
position: absolute;
bottom: 180px;
left: 190px;
z-index: 1;

}
.tito{
width: 320px;
position: absolute;
left: 20px;
bottom: 30px;
}



.slick-dots {
    bottom: -27px;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {

    .flayer img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }

    .hero {
        height: 100%;
    }

    .flayer {
        height: 140px;
    }

    .frase {
        margin-top: 50px;
        font-size: 20px;
    }
}