.descubrinos {
    background-image: url(/public/Clipped_image_20230821_143758.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rock Salt', cursive;
    margin: 0 auto;
}

.descubrinos h2 {
    font-size: 50px;
}


footer {
    width: 100%;
    margin: 20px auto 50px;
    height: 100%;
}

.re {
    width: 100%;
    gap: 30px;
    display: flex;
    justify-content: center;
}

.re img {
    width: 100px;
    height: 100px;
    transition: 300ms all ease;


}

.re img:hover {
    transform: scale(1.2);
    opacity: 1;
    filter: contrast(0);
    filter: drop-shadow(10px 10px 10px black);
}


.contacto {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}


.datos {
    width: 75%;
    height: 300px;
    padding: 25px;
    background-image: url(/public/afiche_horizontal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}





.datos p {
    font-family: 'Rock Salt', cursive;
}

@media screen and (max-width: 1024px) {
    .descubrinos {
        width: 300px;
        height: 65px;
    }

    .descubrinos h2 {
        font-size: 25px;
    }

    .re img {
        width: 80px;
        height: 80px;
    }

}



@media screen and (max-width: 767px) {
    .re {
        gap: 10px;
    }

    .re img {
        width: 50px;
        height: 50px;
    }

    .datos {
        width: 80%;
        height: 200px;
    }

    .datos p {
        font-size: 7px;
    }



    .descubrinos {
        margin-top: 30px;
        width: 250px;
        height: 40px;
    }

    .descubrinos h2 {
        font-size: 20px;
    }
}