.descubrinos {
    background-image: url(/public/Clipped_image_20230821_143758.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rock Salt', cursive;
    margin: 0 auto;
}

.descubrinos h2 {
    font-size: 50px;
}


footer {
    width: 100%;
    margin: 20px auto 20px;
    height: 100%;
}

.re {
    width: 100%;
    gap: 30px;
    display: flex;
    justify-content: center;
}

.re img {
    width: 100px;
    height: 100px;
    transition: 300ms all ease;


}

.re img:hover {
    transform: scale(1.2);
    opacity: 1;
    filter: contrast(0);
    filter: drop-shadow(10px 10px 10px black);
}


.contacto {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}


.datos {
    width: 80%;
    height: 100%;
    padding: 25px;
    background-image: url(/public/afiche_horizontal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}



.datos img {
    width: 150px;

}

.datos p {
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    width: 85%;
    margin: 20px auto 0;
}

.link {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: monospace;
    font-weight: 700;

}

.whasa {
    padding: 4px 8px;
    border-radius: 50px;
    color: black;
    border: 5px solid rgb(29, 177, 49);
}

.link img {
    width: 50px;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    margin-top: 50px;
}

.copyright p {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.copyright p a {
    display: flex;
    margin-left: 20px;
    align-items: center;
    color: aliceblue;
    text-decoration: none;
}

.copyright p a img {
    width: 30px;
    display: flex;
    align-items: center;
}
.nosotros a img{
    margin-left: 10px;
    width:30px;
}

@media screen and (max-width: 1024px) {
    .descubrinos {
        width: 300px;
        height: 65px;
    }

    .descubrinos h2 {
        font-size: 25px;
    }

    .re img {
        width: 80px;
        height: 80px;
    }

    .datos img {
        width: 120px;

    }

    .datos p {
        font-size: 12px;
    }

    .link a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-family: monospace;
        font-weight: 700;

    }

    .whasa {
        padding: 2px 4px;
        border-radius: 50px;
        color: black;
        border: 5px solid rgb(29, 177, 49);
    }

    .link img {
        width: 30px;
    }



    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        font-family: monospace;
        font-size: medium;
        font-weight: bold;
        width: 100%;
        margin-top: 50px auto 0;
    }

    .copyright p {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    .copyright p a {
        display: flex;
        margin-left: 20px;
        align-items: center;
        color: aliceblue;
        text-decoration: none;
    }

    .copyright p a img {
        width: 30px;
        display: flex;
        align-items: center;
    }


}



@media screen and (max-width: 767px) {
    .re {
        gap: 10px;

    }

    .re img {
        width: 60px;
        height: 60px;


    }

    .datos {
        width: 90%;
        height: 500px;
        margin-top: 40px;
    }

    .datos p {
        font-size: 7px;
    }



    .descubrinos {
        margin-top: 30px;
        width: 250px;
        height: 40px;
    }

    .descubrinos h2 {
        font-size: 20px;
    }


    .contacto {
        margin-top: -30px;
    }

    .datos img {
        width: 100px;

    }

    .datos p {
        font-size: 12px;
        width: 100%;
    }

    .link {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }

    .link a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        font-size: 12px;
        font-family: monospace;
        font-weight: 700;

    }

    .whasa {
        padding: 4px 4px;
        border-radius: 50px;
        color: black;
        border: 5px solid rgb(29, 177, 49);
    }

    .link img {
        width: 30px;
    }



    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: rgb(255, 255, 255);
        font-family: monospace;
        font-size: medium;
        font-weight: bold;
        width: 100%;
        margin-top: 50px auto 0;
    }

    .copyright p {
        display: flex;
        align-items: center;
        margin-left: 0;
    }

    .copyright p a {
        display: flex;
        align-items: center;
        color: aliceblue;
        text-decoration: none;
        margin-left: 0;
    }

    .copyright p a img {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }


    .re img:hover {
        transform: initial;
        opacity: initial;
        filter: initial;
        filter: initial;
    }
.tactil{
    height: 70px;

}
.nosotros{
    display: flex;

}
.nosotros a img{
    width: 40px;
}

}