header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;




}

.header {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    padding: 10px;



}


.logo {
    width: 300px;


}

.frase {
    background-image: url(/public/Clipped_image_20230821_143758.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rock Salt', cursive;
}

.frase h2 {
    margin-left: 10px;
}


@media screen and (max-width: 1024px) {
    .logo {
        width: 200px;
    }

    .frase {
        width: 230px;
        height: 60px;

    }

    .frase h2 {
        margin-left: 12px;
        font-size: 20px;
    }

}

@media screen and (max-width: 767px) {
    .logo {
        transform: scale(1.2);
    }

    .header {
        justify-content: center;
    }

    .frase {
        display: none;

    }

}







@media screen and (max-width: 768px) {
    .logo {
        margin-top: 10px;
    }
}