/* #txt {
    margin: 0 auto;
    width: 200px;
    border: 3px solid #ee00ff9c;
    border-radius: 20px;
    box-shadow: 0 0 100px violet;
    animation: border-flicker 2s linear infinite;
}

#txt h1 {
    text-align: center;
    color: #000000;
    font-family: 'Rock Salt', cursive;
    font-weight: 900;
    letter-spacing: 10px;
    animation: text-flicker 10s linear infinite;
}

#offset {
    animation: letter-flicker 4s linear infinite;
}

@keyframes text-flicker {
    0% {
        opacity: 0.3;
        text-shadow: 0px 0px 29px rgb(0, 0, 0);
    }

    2% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgb(0, 0, 0);
    }

    8% {
        opacity: 0.1;
        text-shadow: 0px 0px 29px rgb(0, 0, 0);
    }

    9% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgb(0, 0, 0);
    }

    12% {
        opacity: 0.1;
        text-shadow: 0px 0px rgb(0, 0, 0);
    }

    20% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgb(0, 0, 0)
    }

    25% {
        opacity: 0.3;
        text-shadow: 0px 0px 29px rgb(0, 0, 0)
    }

    30% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgb(0, 0, 0)
    }

    70% {
        opacity: 0.7;
        text-shadow: 0px 0px 29px rgb(0, 0, 0)
    }

    72% {
        opacity: 0.2;
        text-shadow: 0px 0px 29px rgb(0, 0, 0)
    }

    77% {
        opacity: .9;
        text-shadow: 0px 0px 29px rgb(0, 0, 0)
    }

    100% {
        opacity: .9;
        text-shadow: 0px 0px 29px rgb(15, 15, 15)
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
        -webkit-box-shadow: 0px 0px 78px 4px rgba(167, 16, 232, 0.73);
        -moz-box-shadow: 0px 0px 78px 4px rgba(189, 16, 232, 0.73);
        box-shadow: inset 0 0 90px violet, 0px 0px 78px 4px rgba(221, 16, 232, 0.73);
    }

    2% {
        opacity: 1;
        -webkit-box-shadow: 0px 0px 78px 4px rgba(149, 16, 232, 0.73);
        -moz-box-shadow: 0px 0px 78px 4px rgba(182, 16, 232, 0.73);
        box-shadow: inset 0 0 80px violet, 0px 0px 78px 4px rgba(164, 16, 232, 0.73);
    }

    4% {
        opacity: 0.1;
        -webkit-box-shadow: 0px 0px 78px 4px rgba(200, 16, 232, 0.73);
        -moz-box-shadow: 0px 0px 78px 4px rgba(192, 16, 232, 0.73);
        box-shadow: inset 0 0 70px violet, 0px 0px 78px 4px rgba(167, 16, 232, 0.73);
    }

    8% {
        opacity: 1;
        -webkit-box-shadow: 0px 0px 78px 4px rgba(156, 16, 232, 0.73);
        -moz-box-shadow: 0px 0px 78px 4px rgba(182, 16, 232, 0.73);
        box-shadow: inset 0 0 60px violet, 0px 0px 78px 4px rgba(196, 16, 232, 0.73);
    }

    70% {
        opacity: 0.7;
        -webkit-box-shadow: 0px 0px 78px 4px rgba(174, 16, 232, 0.73);
        -moz-box-shadow: 0px 0px 78px 4px rgba(146, 16, 232, 0.73);
        box-shadow: inset 0 0 50px violet, 0px 0px 78px 4px rgba(196, 16, 232, 0.73);
    }

    100% {
        opacity: 1;
        -webkit-box-shadow: 0px 0px 78px 4px rgba(196, 16, 232, 0.73);
        -moz-box-shadow: 0px 0px 78px 4px rgba(182, 16, 232, 0.73);
        box-shadow: inset 0 0 40px violet, 0px 0px 78px 4px rgba(167, 16, 232, 0.73);
    }
}

@keyframes letter-flicker {
    0% {
        opacity: 0.1;
        text-shadow: 0px 0px 29px rgb(255, 0, 0);
    }

    2% {
        opacity: 0.1;
        text-shadow: 0px 0px 29px rgb(255, 0, 0);
    }

    4% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgb(255, 0, 0);
    }


    19% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgb(255, 0, 0);
    }

    21% {
        opacity: 0.1;
        text-shadow: 0px 0px 29px rgb(255, 0, 0);
    }

    23% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgb(255, 0, 0);
    }

    80% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgb(255, 0, 0);
    }

    83% {
        opacity: 0.4;
        text-shadow: 0px 0px 29px rgb(255, 0, 0);
    }

    87% {
        opacity: 1;
        text-shadow: 0px 0px 29px rgb(255, 0, 0);
    }
}*/













.bio {
    background-image: url(/public/Clipped_image_20230821_143758.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rock Salt', cursive;
    margin: 0 auto;

}

.bio h2 {
    font-size: 50px;
}

.contenedor-biografia {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}




.bio-txt {
    width: 80%;
    padding: 50px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    background-image: url(/public/afiche_vertical.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 20px black;

}

.spo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 1024px) {
    .bio {
        width: 150px;
        margin-top: 30px;
        height: 60px;
    }

    .bio h2 {
        margin-left: 10px;
        font-size: 30px;
    }

}





@media screen and (max-width: 768px) {

    .bio-txt {
        height: 100%;
        padding: 15px;
        width: 90%;
    }

    .bio-txt p {
        font-size: 12px;
    }

    #txt {
        display: none;
    }
}