.bio {
    background-image: url(/public/Clipped_image_20230821_143758.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rock Salt', cursive;
    margin: 0 auto;
}
.bio h2{
    font-size: 50px;
}

.contenedor-biografia {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}




.bio-txt {
    width:80%;
    padding: 50px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    background-image: url(/public/arco.png);
    background-repeat: no-repeat;
    background-size:cover ;

}



@media screen and (max-width: 768px) {
    .container-prueba {
        margin: 50px auto;

    }

    .img img {
        width: 80%;
    }

    .flayer {
        height: 100%;
    }

    .cards img {
        width: 100px;
    }

}